:root {
    --main-bg-color: brown;
}

body {
    background-color: var(--main-bg-color);
}

h1 {
    font: bold 12pt/14pt Helvetica;
}

@import url("components/_sidebar.css");
@import url("components/_print.css") print;
